fastapi
uvicorn
qdrant-client
langchain-text-splitters
httpx
pydantic
unstructured[pdf]
opencv-python-headless
langchain-openai

pdfminer.six
pi_heif
langgraph
langchain
langchain-core
langchain-community
