fastapi
uvicorn
qdrant-client
langchain-text-splitters
httpx
pydantic
unstructured[pdf]
beautifulsoup4
lxml
opencv-python-headless
langchain-openai
aiosqlite
tiktoken

pdfminer.six
pi_heif
langgraph
langchain
langchain-core
langchain-community
ddgs
